[core]
    filemode = false
    autocrlf = false
[user]
    email = github@sazabi.org
    name = solar
[pull]
    rebase = true
[push]
    default = simple
[alias]
    log-all = log --graph --color --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    tree = log --graph --color --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
